@font-face {
  font-family: "BombShellFont";
  src: local("BombShellFont"), url(./fonts/BombshellPro.ttf) format("truetype");
}

@font-face {
  font-family: "GreatVibesFont";
  src: local("GreatVibesFont"), url(./fonts/GreatVibes.ttf) format("truetype");
}

.app {
  font-family: sans-serif;
  text-align: center;
  padding: 20px 30px;
}

.no-scroll {
  overflow: hidden;
}

.header {
  font-family: BombShellFont;
  border-bottom: dotted black 0.1px;
  padding-bottom: 10px;
  margin-top: -0.5rem;
}

.explorer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1em;
  margin-top: 2em;
}

.image-button {
  padding: 0;
  border: 0;
  animation: skeleton-loading 1s linear infinite alternate;
}

.image {
  min-height: 200px;
  height: 100%;
  width: 100%;
}

.invisible {
  opacity: 0;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.photoViewer {
  position: fixed;
  background-color: black;
  inset: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2;
}

.photoViewer button {
  background: rgba(204, 204, 204, 0.4);
  padding: 0px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: none;
  z-index: 3;
}

.photoViewer button:hover {
  background-color: #383838;
}

.photoViewer button:disabled {
  opacity: 0;
}

.goBack {
  position: absolute;
  top: 5vh;
  left: 5vw;
}

.change {
  display: flex;
  position: absolute;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
}

.left {
  margin-right: 1vh;
}

.right {
  margin-left: 1vh;
}

.photoViewer-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

.loader {
  z-index: 10;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}

.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
